
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
   
  }
  form{
    max-width: 100%;
    display: block;
  }
  .container {
    width: 100%;
    /* margin: 0 auto; */
    padding-top: 40px;
    
  }

  .js-book-mark-title {
    margin-top:5px;
  }
  .js-book-mark-url{
margin-top:5px;
  } 
  .js-book-mark-description{
    margin-top:5px;
  } 
  .book-mark-rating{
    margin-top:5px;
  }
 